body{
    display: flex;
    justify-content: center;
}

/*
.formulario form{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 115, 189);
    gap: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    max-width: 80%;
} */

#formulario fieldset{
    display: grid;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    background-color: aqua;
}

